/***********
** Reset  **
************/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none;
  height: 100%;
  overflow-x: hidden;
  font-family: Karla;
  font-style: normal;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/************
** General **
*************/
body {
  font-family: "Karla", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: normal;
  line-height: 1.5rem;
  letter-spacing: -0.048px;
  color: #0b2253;
}

/************
** Utility **
*************/
.container {
  width: 100%;
  max-width: 864px;
  margin-left: auto;
  margin-right: auto;
  padding-inline: 1rem;
}

.section .section__title {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: -0.05px;
  color: #162a56;
  margin-bottom: 3.0625rem;
}

/*********
** Page **
**********/
.components-page {
  padding: 1rem 3rem;
}

/***************
** Components **
****************/

/***********
** Button **
************/

.button-section .button-section__buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem 4rem;
}

/* Your CSS starts here */
.btn {
  display: inline-block;
  text-decoration: none;
  padding: 16px;
  border-radius: 8px;
  min-width: 171px;
  border: none;
  background: transparent;
  cursor: pointer;
  font-family: "Karla", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.5rem;
  color: #1d4ed8;
}

.btn.btn--primary {
  background: rgba(29, 78, 216, 1);
  color: #ffffff;
}

.btn:disabled.btn--primary,
.btn.btn--disable.btn--primary {
  background: rgba(29, 78, 216, 0.3);
}

.btn.btn--outline.btn--primary {
  background: transparent;
  border: 1.5px solid rgba(29, 79, 215, 1);
  color: #1d4ed8;
}

.btn.btn--outline:disabled.btn--primary,
.btn.btn--outline.btn--disable.btn--primary {
  border: 1.5px solid rgba(29, 79, 215, 0.3);
}

.btn.btn--secondary {
  background: rgba(244, 245, 246, 1);
  color: #0b2253;
}

.btn:disabled.btn--secondary,
.btn.btn--disable.btn--secondary {
  background: rgba(244, 245, 246, 0.3);
}

.btn.btn--outline.btn--secondary {
  background: transparent;
  border: 1.5px solid rgba(244, 245, 246, 1);
}

.btn.btn--outline:disabled.btn--secondary,
.btn.btn--outline.btn--disable.btn--secondary {
  border: 1.5px solid rgba(244, 245, 246, 0.3);
}

.btn.btn--loading {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8125rem;
}

.spinner {
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 2px solid rgba(39, 190, 99, 1);
  border-top-color: rgba(255, 255, 255, 1);
  border-left-color: rgba(255, 255, 255, 1);
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Your CSS ends here */
